Rongo/Rongo-ejb/src/wsdl/ws.espol.edu.ec/saac/directorioespol.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://academico.espol.edu.ec/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://academico.espol.edu.ec/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://academico.espol.edu.ec/webservices/">
      <s:element name="autenticacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="varUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="varContrasenia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autenticacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="autenticacionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="busquedaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUnidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strRol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strApellido" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="busquedaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="busquedaUsuarioResult">
              <s:complexType>
                <s:sequence>
             
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="datosUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="varUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="varContrasenia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="datosUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datosUsuarioResult">
              <s:complexType>
                <s:sequence>
                
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="varUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="varContrasenia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaUsuarioResult">
              <s:complexType>
                <s:sequence>
     
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadActaSustentacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadActaSustentacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadActaSustentacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadTitulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadTituloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadTituloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadActaFinal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadActaFinalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadActaFinalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="autenticacionSoapIn">
    <wsdl:part name="parameters" element="tns:autenticacion" />
  </wsdl:message>
  <wsdl:message name="autenticacionSoapOut">
    <wsdl:part name="parameters" element="tns:autenticacionResponse" />
  </wsdl:message>
  <wsdl:message name="busquedaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:busquedaUsuario" />
  </wsdl:message>
  <wsdl:message name="busquedaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:busquedaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="datosUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:datosUsuario" />
  </wsdl:message>
  <wsdl:message name="datosUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:datosUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="consultaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:consultaUsuario" />
  </wsdl:message>
  <wsdl:message name="consultaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:consultaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="uploadActaSustentacionSoapIn">
    <wsdl:part name="parameters" element="tns:uploadActaSustentacion" />
  </wsdl:message>
  <wsdl:message name="uploadActaSustentacionSoapOut">
    <wsdl:part name="parameters" element="tns:uploadActaSustentacionResponse" />
  </wsdl:message>
  <wsdl:message name="uploadTituloSoapIn">
    <wsdl:part name="parameters" element="tns:uploadTitulo" />
  </wsdl:message>
  <wsdl:message name="uploadTituloSoapOut">
    <wsdl:part name="parameters" element="tns:uploadTituloResponse" />
  </wsdl:message>
  <wsdl:message name="uploadActaFinalSoapIn">
    <wsdl:part name="parameters" element="tns:uploadActaFinal" />
  </wsdl:message>
  <wsdl:message name="uploadActaFinalSoapOut">
    <wsdl:part name="parameters" element="tns:uploadActaFinalResponse" />
  </wsdl:message>
  <wsdl:portType name="directorioEspolSoap">
    <wsdl:operation name="autenticacion">
      <wsdl:input message="tns:autenticacionSoapIn" />
      <wsdl:output message="tns:autenticacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="busquedaUsuario">
      <wsdl:input message="tns:busquedaUsuarioSoapIn" />
      <wsdl:output message="tns:busquedaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="datosUsuario">
      <wsdl:input message="tns:datosUsuarioSoapIn" />
      <wsdl:output message="tns:datosUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaUsuario">
      <wsdl:input message="tns:consultaUsuarioSoapIn" />
      <wsdl:output message="tns:consultaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadActaSustentacion">
      <wsdl:input message="tns:uploadActaSustentacionSoapIn" />
      <wsdl:output message="tns:uploadActaSustentacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadTitulo">
      <wsdl:input message="tns:uploadTituloSoapIn" />
      <wsdl:output message="tns:uploadTituloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadActaFinal">
      <wsdl:input message="tns:uploadActaFinalSoapIn" />
      <wsdl:output message="tns:uploadActaFinalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="directorioEspolSoap" type="tns:directorioEspolSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="autenticacion">
      <soap:operation soapAction="http://academico.espol.edu.ec/webservices/autenticacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="busquedaUsuario">
      <soap:operation soapAction="http://academico.espol.edu.ec/webservices/busquedaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datosUsuario">
      <soap:operation soapAction="http://academico.espol.edu.ec/webservices/datosUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaUsuario">
      <soap:operation soapAction="http://academico.espol.edu.ec/webservices/consultaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadActaSustentacion">
      <soap:operation soapAction="http://academico.espol.edu.ec/webservices/uploadActaSustentacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadTitulo">
      <soap:operation soapAction="http://academico.espol.edu.ec/webservices/uploadTitulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadActaFinal">
      <soap:operation soapAction="http://academico.espol.edu.ec/webservices/uploadActaFinal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="directorioEspolSoap12" type="tns:directorioEspolSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="autenticacion">
      <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/autenticacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="busquedaUsuario">
      <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/busquedaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datosUsuario">
      <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/datosUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaUsuario">
      <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/consultaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadActaSustentacion">
      <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/uploadActaSustentacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadTitulo">
      <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/uploadTitulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadActaFinal">
      <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/uploadActaFinal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="directorioEspol">
    <wsdl:port name="directorioEspolSoap" binding="tns:directorioEspolSoap">
      <soap:address location="https://ws.espol.edu.ec/saac/directorioespol.asmx" />
    </wsdl:port>
    <wsdl:port name="directorioEspolSoap12" binding="tns:directorioEspolSoap12">
      <soap12:address location="https://ws.espol.edu.ec/saac/directorioespol.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>