Rongo/Rongo-web/src/wsdl/localhost_8080/espolPhantom/espolPhantom.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://phantom.espol.app/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://phantom.espol.app/">

<xs:element name="getDatos" type="tns:getDatos"/>

<xs:element name="getDatosResponse" type="tns:getDatosResponse"/>

<xs:element name="getEstadoRegular" type="tns:getEstadoRegular"/>

<xs:element name="getEstadoRegularResponse" type="tns:getEstadoRegularResponse"/>

<xs:element name="getMaterias" type="tns:getMaterias"/>

<xs:element name="getMateriasResponse" type="tns:getMateriasResponse"/>

<xs:element name="getNombre" type="tns:getNombre"/>

<xs:element name="getNombreResponse" type="tns:getNombreResponse"/>

<xs:element name="getPromedioGeneral" type="tns:getPromedioGeneral"/>

<xs:element name="getPromedioGeneralResponse" type="tns:getPromedioGeneralResponse"/>

<xs:element name="obtenerMateriasDesdeCodigo" type="tns:obtenerMateriasDesdeCodigo"/>

<xs:element name="obtenerMateriasDesdeCodigoResponse" type="tns:obtenerMateriasDesdeCodigoResponse"/>

<xs:complexType name="getEstadoRegular">
<xs:sequence>
<xs:element name="matricula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstadoRegularResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNombre">
<xs:sequence>
<xs:element name="matricula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNombreResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMaterias">
<xs:sequence>
<xs:element name="matricula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMateriasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPromedioGeneral">
<xs:sequence>
<xs:element name="matricula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPromedioGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatos">
<xs:sequence>
<xs:element name="matricula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerMateriasDesdeCodigo">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerMateriasDesdeCodigoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>