Rongo/Rongo-web/src/wsdl/localhost_8080/espolPhantom/espolPhantom.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://phantom.espol.app/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://phantom.espol.app/" name="espolPhantom">
<types>
<xsd:schema>
<xsd:import namespace="http://phantom.espol.app/" schemaLocation="http://localhost:8080/espolPhantom/espolPhantom?xsd=1"/>
</xsd:schema>
</types>
<message name="getNombre">
<part name="parameters" element="tns:getNombre"/>
</message>
<message name="getNombreResponse">
<part name="parameters" element="tns:getNombreResponse"/>
</message>
<message name="getDatos">
<part name="parameters" element="tns:getDatos"/>
</message>
<message name="getDatosResponse">
<part name="parameters" element="tns:getDatosResponse"/>
</message>
<message name="getMaterias">
<part name="parameters" element="tns:getMaterias"/>
</message>
<message name="getMateriasResponse">
<part name="parameters" element="tns:getMateriasResponse"/>
</message>
<message name="getEstadoRegular">
<part name="parameters" element="tns:getEstadoRegular"/>
</message>
<message name="getEstadoRegularResponse">
<part name="parameters" element="tns:getEstadoRegularResponse"/>
</message>
<message name="getPromedioGeneral">
<part name="parameters" element="tns:getPromedioGeneral"/>
</message>
<message name="getPromedioGeneralResponse">
<part name="parameters" element="tns:getPromedioGeneralResponse"/>
</message>
<message name="obtenerMateriasDesdeCodigo">
<part name="parameters" element="tns:obtenerMateriasDesdeCodigo"/>
</message>
<message name="obtenerMateriasDesdeCodigoResponse">
<part name="parameters" element="tns:obtenerMateriasDesdeCodigoResponse"/>
</message>
<portType name="espolPhantom">
<operation name="getNombre">
<input wsam:Action="http://phantom.espol.app/espolPhantom/getNombreRequest" message="tns:getNombre"/>
<output wsam:Action="http://phantom.espol.app/espolPhantom/getNombreResponse" message="tns:getNombreResponse"/>
</operation>
<operation name="getDatos">
<input wsam:Action="http://phantom.espol.app/espolPhantom/getDatosRequest" message="tns:getDatos"/>
<output wsam:Action="http://phantom.espol.app/espolPhantom/getDatosResponse" message="tns:getDatosResponse"/>
</operation>
<operation name="getMaterias">
<input wsam:Action="http://phantom.espol.app/espolPhantom/getMateriasRequest" message="tns:getMaterias"/>
<output wsam:Action="http://phantom.espol.app/espolPhantom/getMateriasResponse" message="tns:getMateriasResponse"/>
</operation>
<operation name="getEstadoRegular">
<input wsam:Action="http://phantom.espol.app/espolPhantom/getEstadoRegularRequest" message="tns:getEstadoRegular"/>
<output wsam:Action="http://phantom.espol.app/espolPhantom/getEstadoRegularResponse" message="tns:getEstadoRegularResponse"/>
</operation>
<operation name="getPromedioGeneral">
<input wsam:Action="http://phantom.espol.app/espolPhantom/getPromedioGeneralRequest" message="tns:getPromedioGeneral"/>
<output wsam:Action="http://phantom.espol.app/espolPhantom/getPromedioGeneralResponse" message="tns:getPromedioGeneralResponse"/>
</operation>
<operation name="obtenerMateriasDesdeCodigo">
<input wsam:Action="http://phantom.espol.app/espolPhantom/obtenerMateriasDesdeCodigoRequest" message="tns:obtenerMateriasDesdeCodigo"/>
<output wsam:Action="http://phantom.espol.app/espolPhantom/obtenerMateriasDesdeCodigoResponse" message="tns:obtenerMateriasDesdeCodigoResponse"/>
</operation>
</portType>
<binding name="espolPhantomPortBinding" type="tns:espolPhantom">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMaterias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEstadoRegular">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPromedioGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerMateriasDesdeCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="espolPhantom">
<port name="espolPhantomPort" binding="tns:espolPhantomPortBinding">
<soap:address location="http://localhost:8080/espolPhantom/espolPhantom"/>
</port>
</service>
</definitions>